$color-blue = #68759B
$color-blue-dark = #46506b
$color-white = #FEFFFF

*, *:before
  box-sizing border-box

html,
body
  font-size: 10px
  overflow-x: hidden

body
  background $color-white
  font-family: 'Lato'
  color: #000

img
	display: block
	max-width: 100%

button, a
  font-family: inherit
  text-decoration: none
  color inherit

button
	border: none
	background none
  appearance none
  cursor pointer !important

a
  display: inline-block

strong
	font-weight: bold !important
	font-size: 1em

.block
  display: block

.container
  display: block
  max-width: 960px
  width 100%
  margin 0 auto
  overflow: hidden

.color-blue
  color $color-blue

.color-blue-dark
  color $color-blue-dark

.bkg-blue-dark
  background-color $color-blue-dark

.title
  font-family: 'Oswald'
  font-weight: bold
  text-transform: uppercase
  span
    line-height: 1em
    &:first-of-type
      font-size: 13.563rem
      opacity .5
    &:last-of-type
      display: inline-block
      font-size: 3.2rem
      line-height: 1em
      top -29px
      position relative
      margin-left: -39px
    &.custom-position-x
      margin-left: -25px

h3
  &.title
    font-size: 3.2rem
    margin-bottom 20px


.text,p
  font-size: 1.6rem
  line-height: 1.5em
  font-weight: 300
  color inherit

.text-center
  text-align: center

.logo-anchor
  display: flex
  align-items: center
  gap 9px
  p
    font-family: 'Bebas'
    font-size: 2.16rem
    line-height: .85em
    letter-spacing: 1px
    span
      font-size: 2.35rem