.header
  padding-top: 8px
  .logo-anchor
    p
      opacity 0
  nav
    display: flex
    justify-content: space-between
    align-items: center
  
  .links-list
    list-style-type: none;
    counter-reset: custom-counter;
    padding-top: 4px
    li
      font-family: 'Lato'
      font-size: 2rem
      color #fff
      font-weight: 900
      font-style: italic
      text-transform: uppercase
      letter-spacing: 3px
      display: inline-block
      &:not(:first-of-type)
        margin-left: 49px
    a
      font inherit
      border-bottom 1px solid currentColor
      padding-bottom 4px
      &::before
        content: counter(custom-counter, decimal-leading-zero) '.';
        counter-increment: custom-counter;
        margin-right: 0.5em;
  
  &.fixed
    position: fixed
    background #fff
    animation slideDown .3s ease-in forwards
    width 100%
    z-index: 5
    padding 15px 0
    .logo-anchor
      p
        opacity: 1
    + .main
      .top-bkg
        margin-top: 0 !important
    
    .links-list
      padding-top 0
      li
        color $color-blue-dark


@keyframes slideDown {
  from {
    top: -200px;
  }
  to {
    top: 0;
  }
}

      
    