.main
  h1
    font-size: 0
  .top-bkg
    background url('./assets/img/img-top.jpg') center no-repeat
    background-size: cover
    aspect-ratio: 1600/825
    margin-top: -53px
  .bkg-history-section
    padding-top: 143px
    margin-top: -1px
    background url('./assets/img/img-bkg-history-section.png') center no-repeat
    background-size: cover
    aspect-ratio: 1600/1018
    display: flex
    flex-direction: column
    justify-content: space-between
    p
      padding 0 73px
      &:first-of-type
        margin-top: 10px
  
  .bkg-slider
    background rgba(70,80,107, .8)
    padding 25px 0 18px
  
  .flex-climb-section
    display: flex
    align-items: center
    gap 30px
    padding-top: 30px
    h2
      flex 0 0 240px
      + p 
        display: inline-block
        padding-right: 100px