@media only screen and (max-width: 1399px)
  .main
    .bkg-history-section
      padding-top: 5%

@media only screen and (max-width: 767px)
  .main
    .top-bkg
      background url('./assets/img/img-top-mobile.jpg') center no-repeat
      aspect-ratio: 1600/1521
      background-size: cover
      object-fit: contain
      object-position: center top
      margin-top: -29px
    .bkg-history-section
      padding-top: 50px
      aspect-ratio: 1/1.8
      p
        padding 0 !important
    
    .flex-climb-section
      flex-direction: column
      align-items: flex-start
      gap 7px
      h2
        flex auto
        + p
          padding-right: 0
    
    .bkg-climb
      aspect-ratio: 375/400
      height: 100%