.main
  h1
    font-size: 0
  .top-bkg
    background url('./assets/img/img-top.jpg') center no-repeat
    background-size: cover
    aspect-ratio: 1600/825
    margin-top: -53px
  .bkg-history-section
    padding-top: 143px
    margin-top: -1px
    background url('./assets/img/img-bkg-history-section.png') center no-repeat
    background-size: cover
    aspect-ratio: 1600/1018
    p
      padding 0 73px
      &:first-of-type
        margin-top: 10px